extends layout

block content
  h1= title
  - let items = results
  - let destination1 = `dispatch(\"/vehicle/create\")`
  button.btn( class="btn-primary ml-1", onclick= destination1) Create
  div(claass="container-fluid mt-3")
   div(class="row m-1")
    each item,index in items
     - let destination = `dispatch(\"/vehicle/update?id=${item._id}\")`
     - let destination2 = `dispatch(\"/vehicle/detail?id=${item._id}\")`
     - let destination3 = `dispatch(\"/vehicle/delete?id=${item._id}\")`
     div(class="col-sm-3 bg-info m-2 p-4" onclick=`buy(${index})`) #{item.company} - #{item.price} - #{item.color}
      button.btn( class="btn-primary ml-1", onclick= destination) Update
      button.btn( class="btn-primary ml-1", onclick= destination2) Detail
      button.btn( class="btn-primary ml-1", onclick= destination3) Delete
  script.
   function buy(itemNo)
   {
     alert(`You purchased Item ${itemNo+1}`)
   }
   function dispatch(path)
   {
     window.location.href=path
   }